.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(7, 7, 7, 0.5);
  border: 1px solid #bfbbbb;
  background-color:var(--color-3);

  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    padding-bottom: 0;
    font-size: 1.3rem;
    h1 {
      text-align: center;
      padding-bottom: 5px;
    }

    .form-group {
      display: flex;
      justify-content: space-between;
      padding: 0 2px;
      margin: 0 2px;
      color: var(--color-7);
      input[type="text"],
      input[type="date"],
      input[type="email"],
      input[type="password"] {
        width: 15rem;
        padding: 5px;
        margin: 0 0 1rem 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        background-color:var(--color-1);
        color: #495057;

        &.error::placeholder {
          color: red;
        }
      }
      
      .genders {
        display: flex;
        font-size: 1.2rem;
        color: var(--color-7);
        justify-content: space-around;
        width: 15rem;
        .radio {
          color: red;
        }
      }

      .error {
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
        color: red;
      }
    }

    .submit {
      width: 5rem;
      padding: 8px;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      background-color: #3a7bd5;
      color: white;
      transition: transform 0.2s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
    
    .button {
      display: flex;
      justify-content: center;
    }
  }
  a {
    padding: 10px;
    padding-left: 30%;
    color: var(--color-7);
    &:hover {
      color:var(--color-6);
    }
  }
}

@media (max-width: 600px) {
  .signup {
    .signup-form {
      .form-group {
        .genders{
          width: 10rem;
        }
        input[type="text"],
        input[type="date"],
        input[type="email"],
        input[type="password"] {
          width: 10rem;
        }
      }

      .genders {
        width: 8rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .signup {
    .signup-form {
      .form-group {
        font-size: 1.3rem;
        input[type="text"],
        input[type="date"],
        input[type="email"],
        input[type="password"]{
          width: 10rem;
        }
      }

      .genders {
        width: 7rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .signup {
    .signup-form {
      padding: 0.5rem;
      h1{
        font-size: 1.5rem;
      }
      .form-group {
        .genders{
          width: 8rem;
          font-size: 1rem;
        }
        font-size: 1.2rem;
        padding: 0 5px;
        margin: 0;
        input[type="text"],
        input[type="date"],
        input[type="email"],
        input[type="password"] {
          width: 8rem;
        }
      }
    }
    a{
      font-size: 1.2rem;
      padding-left: 25%;
    }
  }
}
