.form{
  .dropdown{
    margin: 0 3rem;
    padding: 10px;
    display: flex;
    justify-content: start;
    gap: 8px;
    font-style: Noto Sans;
    
    select,input{
      padding: 5px;
      border: 1px solid #addbe4;
      background-color:#ede7e7;
      border-radius: 5px;
      font-style: Noto Sans;
    }
  }

  .student{
    display: flex;
    margin: 1rem 2rem;
  
    .data {
        input[type="text"],input[type="email"],
        textarea {
          padding: 0.4rem;
          margin-bottom: 1rem;
          border: 1px solid #ced4da;
          background-color:#e4e4e4;
          border-radius: 5px;
          font-size: 1rem;
        }
    
        input[type="radio"] {
          margin-right: 0.3rem;
        }
    
        input[type="submit"] {
            padding: 0.5rem;
            border: none;
            border-radius: 10px;
            font-size: 1rem;
            background-color: #3a7bd5;
            color: white;
            cursor: pointer;
            width: 5rem;
            margin-left: 40%;
            transition: transform 0.3s ease;
    
            &:hover{
                transform: scale((1.1));
            }
        }
    
        textarea {
          resize: vertical;
          height: 5rem;
        }
      }
  }
}

@media(max-width:850px){
  .student{
    .data{
      p{
        font-size: 1.3rem;
      }
      width: 20rem;
    }
  }
}

@media(max-width:770px){
  .student{
    flex-direction: column;
    .data{
      width: 25rem;
    }
  }
}

@media(max-width:450px){
  .student{
    flex-direction: column;
    .data{
      width: 20rem;
      height: 30rem;
      input[type="text"],input[type="email"]{
        padding: 0.2rem 0; 
      }
      div{
        font-size: 1rem;
      }
      input[type="submit"]{
        margin-left: 35%;
      }
    }
  }
}