.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    min-width: 40rem;
    box-shadow: 0 5px 10px rgba(7, 7, 7, 0.5);
    background:linear-gradient(300deg,white,lightblue);
    font-weight: bold;
    p{
        font-size: 1.5rem;
        color: #f1356d;
    }
    .content{
        display: flex;
        justify-content: center;    
        align-items: stretch;
        width: 100%;
        max-width: 50rem;
        .left{
            padding: 1rem;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: 1.5px solid black;
            flex-wrap: wrap;
            min-width: 15rem;
            p{
                font-size: 1.2rem;
                color: black;
            }
        }
        .right{
            padding: 1rem;
            min-width: 20rem;
            .forms{
                .block{
                    label{
                        padding: 0.5rem 0;
                        font-weight: bold;
                    }
                    display: flex;
                    flex-direction: column;
                    padding: 0.3rem;
                    font-size: 1.2rem;

                    input[type="text"],
                    input[type="email"],
                    input[type="date"]{
                        padding: 0.3rem;
                        border-radius: 5px;
                        padding: 0.3rem;
                        border: 1px solid #ced4da;
                        background-color: #f8f9fa;
                        color: #495057;
                    }
                }
            }
        }
    }
    button{
        border: none;
        padding: 0.4rem;
        border-radius: 5px;
        margin: 0.3rem;
        font-size: 1rem;
        font-weight: bold;
        transition: transform ease 0.2s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .update{
        background-color: rgb(138, 255, 43);
    }
    .delete{
        background-color: #ee5161;
    }
}

@media(max-width:660px){
    .profile{
        min-width: 30rem;
        .content{
            max-width: 30rem;
            .left{
                min-width: 10rem;
            }
            .right{
                min-width: 15rem;
                input[type="text"],
                input[type="email"],
                input[type="date"]{
                    width: 14rem;
                }
            }
        }
    }
}

@media(max-width:500px){
    .profile{
        min-width: 25rem;
        .content{
            .right{
                min-width: 15rem;
                input[type="text"],
                input[type="email"],
                input[type="date"]{
                    width: 12rem;
                }
            }
        }
    }
}

@media(max-width:431px){
    .profile{
        min-width: 15rem;
        .content{
            flex-direction: column;
            align-items: center;
            .left{
                border-right: none;
                padding: 0;
            }
            .right{
                padding: 0rem;
                input[type="text"],
                input[type="email"],
                input[type="date"]{
                    min-width: 15rem;
                }
            }
        }
    }
}