.profile{
    .content{
        display: flex;
        justify-content: center;    
        align-items: stretch;
        width: 38rem;
        .left{
            padding: 1rem;
            width: 20rem;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: 1.5px solid black;
            flex-wrap: wrap;
        }
        .right{
            padding: 1rem;
            width: 18rem;
            .forms{
                .block{
                    label{
                        padding: 0.5rem 0;
                        font-weight: bold;
                    }
                    display: flex;
                    flex-direction: column;
                    padding: 0.3rem;
                    font-size: 1.2rem;

                    input[type="text"],
                    input[type="email"],
                    input[type="date"]{
                        padding: 0.3rem;
                        border-radius: 5px;
                        padding: 0.3rem;
                        border: 1px solid #ced4da;
                        background-color: #f8f9fa;
                        color: #495057;
                    }
                }
            }
        }
    }
    button{
        border: none;
        padding: 0.4rem;
        border-radius: 5px;
        margin: 0.3rem;
        font-size: 1rem;
        font-weight: bold;
        transition: transform ease 0.2s;
        color: white;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
    .update{
        background-color: rgb(77, 164, 5);
    }
    .delete{
        background-color: #ee5161;
    }
}

@media(max-width:695px){
    .profile{
        .content{
            width: 35rem;
            margin: 0;
            .left{
                padding: 5px;
                min-width: 10rem;
            }
            .right{
                padding: 5px;
                min-width: 15rem;
                input[type="text"],
                input[type="email"],
                input[type="date"]{
                    width: 14rem;
                }
            }
        }
    }
}

@media(max-width:640px){
    .profile{
        .content{
            width: 30rem;
            .left{
                width: 20rem;
                padding: 1rem;
            }
            .right{
                width: 10rem;
                input[type="text"],
                input[type="email"],
                input[type="date"]{
                    width: 13rem;
                }
            }
        }
    }
}

@media(max-width:515px){
    .profile{
        .content{
            flex-direction: column;
            align-items: center;
            width: 20rem;
            .left{
                border-right: none;
                
            }
        }
    }
}

@media(max-width:350px){
    .profile{
        p{
            font-size: 1rem;
        }
        .content{
            flex-direction: column;
            width: 20rem;
            .left{
                p{
                    font-size: 0.8rem;
                }
                border-right: none;
                padding: 0;
            }
            .right{
                .forms{
                    .block{
                        padding: 0 10px;
                        label{
                            font-size: 1rem;
                            padding: 5px;
                        }
                    input[type="text"],
                    input[type="email"],
                    input[type="date"]{
                        width: 10rem;
                    }
                    }
                }
            }
        }
    }
}