.user-info {

  .delete{
    padding: 0.3rem;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    border: none;
    background-color:#FF204E;
    color: white;
    font-size: 1rem;
    &:hover{
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .update{
    padding: 0.3rem;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    border: none;
    background-color:#1B1A55;
    color: white;
    font-size: 1rem;
    &:hover{
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  }

  @media(max-width:880px){
    .user-info{
      width: 20rem;
    }
  }

  @media(max-width:800px){
    .user-info{
      width: 25rem;
      margin: 1rem;
    }
  }

  @media(max-width:485px){
    .user-info{
      margin: 1rem;
      p{
        font-size: 1rem;
      }
      .delete,.update{
        font-size: 0.8rem;
      }
    }
  }
  