.navbar {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    background-color: black;
    height: 4.5rem;
    width: 100%;
  }
  
  h1{
    color: #f1356d;
    font-size: 2rem;
  }
 
 .links {
    margin-left: auto;

    button{
      font-family: Noto Sans;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      padding: 0 10px;
      color: white;
      
      &:hover{
        color:#f1356d;
      }
    }
  }
  
  a {
    margin-left: 1rem;
    text-decoration: none;
    padding: 3px;
    font-size: 1.5rem;
    color: white;

    &:hover{
    color: #f1356d;
    }
  }

@media(max-width:600px){
  .navbar{
    height: 4rem;
    padding: 0.5rem;
    h1{
      font-size: 1.7rem;
    }
    button,a{
      font-size: 1.2rem;
    }
    button{
      padding: 0 5px;
    }
    a{
      margin-left: 0.5rem;
      padding: 1px;
    }
  }
}
@media(max-width:375px){
  .navbar{
    height: 3rem;
    padding: 0;
    h1{
      font-size: 1.3rem;
    }
    button,a{
      font-size: 1rem;
    }
  }
}