.navbar {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    background-color: var(--color-5);  //5
    height: 4rem;
    width: 100%;
  }
  
  h1{
    color:black;
    font-size: 2rem;
  }
 
 .links {
    margin-left: auto;

    button{
      font-family: Noto Sans;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      padding: 0 10px;
      color: black;
      img{
        height: 1.8rem;
        width: 2rem;

      }
      &:hover{
        color:var(--color-6);
      }
    }

    select{
      border-radius: 10px;
      padding: 2px;
      background-color: var(--color-0);
    }
  }
  
  a {
    margin-left: 1rem;
    text-decoration: none;
    padding: 3px;
    font-size: 1.5rem;
    color: black;

    &:hover{
      color:var(--color-6);
    }
  }

@media(max-width:600px){
  .navbar{
    height: 4rem;
    padding: 0.5rem;
    h1{
      font-size: 1.7rem;
    }
    button,a{
      font-size: 1.2rem;
    }
    button{
      padding: 0 5px;
    }
    a{
      margin-left: 0.5rem;
      padding: 1px;
    }
  }
}
@media(max-width:375px){
  .navbar{
    height: 3rem;
    padding: 0;
    h1{
      font-size: 1.3rem;
    }
    button,a{
      font-size: 1rem;
    }
  }
}